<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzw.guanglan">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->
    <!--用于访问网络，网络定位需要上网-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--用于写入缓存数据到扩展存储卡-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_w"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle.AppTheme" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientActivity"
            android:screenOrientation="portrait" />

        <!-- <service android:name=".service.HeartService" /> -->
        <service android:name=".service.SocketService" />

        <activity
            android:name=".ui.guangland.GuangLanDListActivity"
            android:label="光缆段"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.qianxin.QianXinListActivity"
            android:label="纤芯"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.guangland.add.GuangLanDAddActivitty"
            android:label="新增光缆段"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.qianxin.test.QianXinTestActivity"
            android:label="纤芯测试"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.guanglan.GuangLanListActivity"
            android:label="光缆"

            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.guanglan.add.GuangLanAddActivitty"
            android:label="新增光缆"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HotConnActivity"
            android:label="热点链接"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.guangland.param.GuangLanParamActivity"
            android:label="选择上级光缆"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.guangland.GuangLanSearchActivity"
            android:label="选择光缆名称"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.resource.ResourceActivity"
            android:label="资源查看"
            android:screenOrientation="portrait" />

        <!--高德-->
        <service android:name="com.amap.api.location.APSService" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7c3c7348ecb4ba677358b342768a82c9" />

    </application>

</manifest>